# Q1.
Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [9]:
a = [2,3,4,5,6,7]
type(a)

list

In [10]:
a.append('mango')
a

[2, 3, 4, 5, 6, 7, 'mango']

In [11]:
a.append('banana')
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana']

In [12]:
a.extend(['grapes','Orange'])
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'Orange']

In [13]:
a.insert(4,'Apple')
a

[2, 3, 4, 5, 'Apple', 6, 7, 'mango', 'banana', 'grapes', 'Orange']

In [14]:
a.pop()
a

[2, 3, 4, 5, 'Apple', 6, 7, 'mango', 'banana', 'grapes']

# Q2:

L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [16]:
L=[1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

# Q3:
 Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [17]:
L[::-1]

[7, 6, 5, 4, 3, 2, 1]

# Q4. 
Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [18]:
L = [2,4,7,3,6,8]
square_no = [i**2 for i in L]
print(square_no)

[4, 16, 49, 9, 36, 64]

# Q5.
Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

# Notes:

    Case 1: fnc(a, b) – Sends a and b as separate elements to fnc.
 
    Case 2: fnc((a, b)) – Sends (a, b), whole tuple as 1 single entity, one element.

    Case 3: fnc(*(a, b)) – Sends both, a and b as in Case 1, as separate integers.

In [5]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

my_tuple = ('Ajay',)
print(type(my_tuple))
my_tuple=('Ajay')
print(type(my_tuple))
my_tuple='Ajay',
print(type(my_tuple))
my_tuple='Ajay'
print(type(my_tuple))

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
<class 'tuple'>
<class 'str'>
<class 'tuple'>
<class 'str'>

In [7]:
# Python3 code to demonstrate working of
# Tuple as function arguments

# function with default arguments
def fnc(a=None, b=None):
	print("Value of a : " + str(a))
	print("Value of b : " + str(b))

# Driver code
if __name__ == "__main__" :
	
# initializing a And b
    a = 4
    b = 7

# Tuple as function arguments
# Case 1 - passing as integers
print("The result of Case 1 : ")
fnc(a, b)

# Tuple as function arguments
# Case 2 - Passing as tuple
print("The result of Case 2 : ")
fnc((a, b))

# Tuple as function arguments
# Case 3 - passing as pack/unpack
# operator, as integer
print("The result of Case 3 : ")
fnc(*(a, b))

The result of Case 1 :
Value of a : 4
Value of b : 7
The result of Case 2 :
Value of a : (4, 7)
Value of b : None
The result of Case 3 :
Value of a : 4
Value of b : 7

# Answer Q(5):

In [33]:
 def fun_sum(x):
        sum  = 0
        for i in x:
            sum = sum + int(i)
            
        return sum   





if __name__ == '__main__':
    
    my_tuple = tuple(input('Enter space-separated words: ').split())
                                                                  # input('Enter space-separated words: ').split()
                                                                  # it generates the list 

    print(my_tuple)
    sum = fun_sum(my_tuple)
    print("Sum of all elements of the given tuple  : {} ".format(sum))

Enter space-separated words: 11 22 -9 10 12 13
('11', '22', '-9', '10', '12', '13')
Sum of all elements of the given tuple  : 59

# Q6.
Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [38]:
A = set(input("Give name of your favourite fruits :").split())
B = set(input("Give name of your favourite fruits :").split())
print(" Set A : {}".format(A))
print("Set B : {}".format(B))
C = A.union(B)
print("A U B  = {}".format(C))

Give name of your favourite fruits :Apple Banana Kiwi Grapes
Give name of your favourite fruits :Strawberry Pineapple Pomegranate Papaya Mango
 Set A : {'Banana', 'Grapes', 'Kiwi', 'Apple'}
Set B : {'Strawberry', 'Pineapple', 'Mango', 'Pomegranate', 'Papaya'}
A U B  = {'Grapes', 'Strawberry', 'Banana', 'Pineapple', 'Mango', 'Kiwi', 'Apple', 'Pomegranate', 'Papaya'}

# Q7.
Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [39]:
X  = set(input("Give the Random Word :").split())
y  = input("Give any word you  want to add into the set of Random words : ")
X.add(y)
print("After Adding : X  = {}".format(X))

Give the Random Word :Ajay Poonam Suman Radha Neelam Aarti
Give any word you  want to add into the set of Random words : Mithhi
After Adding : X  = {'Neelam', 'Aarti', 'Ajay', 'Poonam', 'Suman', 'Radha', 'Mithhi'}

# Q8.
Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [40]:
A = set(input("Name of Favourite Animals  :").split())
print("Given Set A : {}".format(A))
B = input("Give the name of Animals you want to remove from the set A  : ")
A.remove(B)
print("After Removing set A : {}".format(A))

Name of Favourite Animals  :horse cow dog cat tiger deer rabbit
Given Set A : {'cat', 'deer', 'cow', 'dog', 'rabbit', 'tiger', 'horse'}
Give the name of Animals you want to remove from the set A  : cow
After Removing set A : {'cat', 'deer', 'dog', 'rabbit', 'tiger', 'horse'}

# Q9.
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [41]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
final = zip(favorite_books,favorite_movies)
print(tuple(final))

(('To Kill a Mockingbird', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight'))

# Q10.
Write a Python program to find the difference between consecutive numbers in a list.

In [10]:
def difference(a):
    b = []
    i=0
    while i<(len(a)-1):
        b.append(abs(int(a[i])-int(a[i+1])))
        i = i+1
        
    return b    
        
        



if __name__ == "__main__":
    given_list = input("Give the numbers :").split()
    x = difference(given_list)
    print("Differences of consecutive numbers of given list : {}".format(x))

Give the numbers :11 -9 23 10 12 10 -23 -8
Differences of consecutive numbers of given list : [20, 32, 13, 2, 2, 33, 15]

_______________________________________________________________________________


                             Completed Python-Practice-Set-2
          

________________________________________________________________________________